.form{
    display: flex;
   flex-direction: column;
   align-items: center;
    order:1;
}
.form-decor{
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    width: auto;
    border:3px solid black;
    margin:0;
}
body {
	margin: 30px auto 0;
    width: fit-content;
}
.error {
    background-color: red;
	box-shadow: 0 0 7px 1px red;
}
.error-message {
	color: red;
}